li{
    font-size: x-large;
    color: rgb(29, 29, 88);
    margin-top: 0.5rem;
}

li:hover{
  transform: scale(1);
}
.nav-btn{
    padding: 10px;
    width: 100%;
    font-size: large;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(50, 82, 147);
}
button:hover{
    background-color: rgb(53, 56, 55);
}
.logutButton{
    background-color: red;
    padding: 10px;
    width: 100%;
    font-size: large;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    color: aliceblue;
}